@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.dark {
    background-color: #0f172a;
    color: #f1f5f9;
  }
  html {
    background-color: #f8fafc;
    color: #0f172a;
  }
}
